[submodule "3rdparty/grpc"]
	path = 3rdparty/grpc
	url = https://github.com/grpc/grpc.git
[submodule "3rdparty/portable-target"]
	path = 3rdparty/portable-target
	url = git@github.com:semenovf/portable-target.git
